<form action="/api/blogs" method="POST" class="register-form px-5">
    <input class="text-input row mt-3 ms-1 form-control" name="title" type="text" placeholder="Enter blog title">
    <textarea class="text-input row mt-3 ms-1 form-control" name="content" type="text" placeholder="Enter blog post content/text"></textarea>
    <button class="btn btn-success row mt-3 ms-1 form-control" id="post-btn"  type="submit">Post Blog</button>
</form>