 <footer class="navbar bg-dark border-top border-body" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-between m-3">
        <p class="text-light">&copy2024 tech.notes</p>
            <a class="navbar-brand brand" href="/">
                <img src="/assets/images/tecn.notes-footer-logo.svg" height="50px">
            </a>
        <p class="text-light">Developed by Anthony Purificato</p>
    </div>
</footer>