 <footer class="d-flex flex-row navbar bg-dark border-top border-body" data-bs-theme="dark">
    <div class="container-fluid justify-content-between p-4">
        <p class="text-light">&copy2024 tech.notes blogsite</p>
            <a class="navbar-brand brand" href="/">
                <img src="/assets/images/tecn.notes-footer-logo.svg" height="50px">
            </a>
        <p class="text-light">Developed by Anthony Purificato</p>
    </div>
</footer>