<main class="d-flex">
    <section class="row justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center p-5 display-3">Learn More About the <span class="logo-color">tech.notes</span> Blog</h1>
            <p class="px-5 pb-3">Tech.notes was brought to life for the purpose of giving web tech professionals and enthusiasts a digital environment to create, share, and learn about website technology. As a blog website, people can quickly and easily register an account with tech.notes to become a new user. Once they have created an account, they will then be able to post blog new articles to the site. These posts will be public. Once created, a user's posts will render into a feed on the main/front page of tech.notes, where other users can then read and interact with posts. Users will be able to add comments to posts, which will also be public.</p>
            <div class="card text-white text-center bg-dark w-75 p-5">
                <h3 class="card-header" id="techstack-header-title">How Tech.Notes Was Created</h3>
                <div class="card-body">
                    <h5 class="card-title">This full stack website was built with the following technologies:</h5>
                    <div class="d-flex flex-row pt-3 justify-content-between">
                        <div class="col-1"><img src="/assets/images/HTML5-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/CSS3-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/JavaScript-icon.svg" height="50px">
                        </div>
                        <div class="col-1"><img src="/assets/images/Node-js-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/npm-express-and-handlebars-icon-white-text.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/postgreSQL-icon-white-text.svg" height="50px"></div>
                    </div>
                    <p class="card-text pt-5">The above tech stack was recommended as part of Rutgers Coding Bootcamp curriculum.</p>
                </div>
            </div>
            <div class="column col-md-6 p-5">
                <H3 class="text-center display-6">Tech.Notes Creation, In-Depth</H3>
                <p>The idea for Tech.Notes started as a Full-Stack software programming challenge. The Front-End coding on this website was done in HTML5, CSS3, and JavaScript. The HTML that was coded relies upon the Handlebars.js templating engine for a quick and organized rendering of HTML templates.</p>
                <p>Back-End coding and programming was done utilizing shell scripting in the command line terminal with <a class="userpage-links" href="https://nodejs.org/en">Node.js</a> and <a class="userpage-links" href="https://www.npmjs.com/">npm</a> (Node Package Manager) installs, specifically <a class="userpage-links" href="https://expressjs.com/">Express.js</a> and <a class="userpage-links" href="https://handlebarsjs.com/">Handlebars.js</a> (templating engine that renders HTML templates). Once finished, the application was deployed unto the <a class="userpage-links" href="https://www.render.com">Render</a> free cloud hosting platform. All of the above technologies combined make this project a Full-Stack Development application.</p>
            </div>
            <div class="d-flex flex-column col-md-6 p-5">
                <H3 class="text-center display-6">The Developer Behind Tech.Notes</H3>
                <p>Anthony Purificato is a web professional with years of experience publishing content and digital media. He's built various websites both small and large in scale. However, his bread and butter was often working on building websites with WordPress as the CMS (Content Management System). As a platform, WordPress is extrememly versatile and enables use of a multitude of useful plugins and quality page-builders, such as Elementor Pro. However, as Anthony continued forward in his web design journey, he wanted more. It was only logical to make the leap and jump into Front-End Development, as he already started teaching himself HTML and CSS while working in the creative agency environment.</p>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center px-5 pb-5">
                <p class="pb-3">Bridging the gap between his prior experience and programming, Anthony enrolled in a Full-Stack Coding Bootcamp offered through Rutgers University (his alma mater anyway). Through this program, Anthony rediscovered his love for web development and uncovered new passions for software programming, as he started learning Back-End Programming skills as well. This enabled him to build Applications/APIs, as well as set up Web Servers and Databases. Anthony continues to take on new and challenging creative projects in his professional and personal life.</p>
            {{!-- </div> --}}
                <div class="d-flex flex-row card w-50 text-white bg-dark p-5 justify-content-around align-items-center about-info-card-responsive">
                    <div class="d-flex flex-column col-6 align-items-center">
                        <img class="rounded" width="150px" src="/assets/images/anthony-purificato.jpg">
                    </div>
                    <div class="d-flex flex-column justify-content-around align-items-center col-6">
                        <h4>Anthony Purificato</h4>
                        <p>Check Out My Github</p>
                        <a class="userpage-links text-center" href="https://github.com/apurificato"><img width="75px" src="/assets/images/Github-logo-alternate.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>