<main class="d-flex">
    <section id="main-content" class="row justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center p-5">Learn More About the Tech.Notes Blog</h1>
            <div class="card text-white text-center bg-dark w-75 p-5">
                <h3 class="card-header" id="techstack-header-title">How Tech.Notes Was Created</h3>
                <div class="card-body">
                    <h5 class="card-title">This full stack website was built with the following technologies:</h5>
                    <div class="d-flex flex-row pt-3 justify-content-between">
                        <div class="col-1"><img src="/assets/images/HTML5-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/CSS3-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/JavaScript-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/Node-js-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/npm-express-and-handlebars-icon-white-text.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/postgreSQL-icon-white-text.svg" height="50px"></div>
                    </div>
                    <p class="card-text pt-5">The above tech stack was recommended as part of Rutgers Coding Bootcamp curriculum.</p>
                </div>
            </div>
            {{!-- <H2 class="text-center pt-3 h3">Before You Win Big, Learn More About Us</h2> --}}
            <div class="column col-md-6 p-5">
                <H3 class="text-center">Tech.Notes, In-Depth Look</H3>
                <p>The idea for Tech.Notes started as a Full-Stack software programming challenge. The Front-End coding on this website was done in HTML5, CSS3, and JavaScript. The HTML that was coded relies upon the Handlebars.js templating engine for a quick and organized rendering of HTML templates.</p>
                <p>Back-End coding and programming was done utilizing shell scripting in the command line terminal with <a class="userpage-links" href="https://nodejs.org/en">Node.js</a> and <a class="userpage-links" href="https://www.npmjs.com/">npm</a> (Node Package Manager) installs, specifically <a class="userpage-links" href="https://expressjs.com/">Express.js</a> and <a class="userpage-links" href="https://handlebarsjs.com/">Handlebars.js</a> (templating engine that renders HTML templates). Once finished, the application was deployed unto the <a class="userpage-links" href="https://www.render.com">Render</a> free cloud hosting platform. All of the above technologies combined make this project a Full-Stack Development application.</p>
            </div>
            <div class="row col-md-6 p-5">
                <H3 class="text-center">Meet the Developer Behind Tech.Notes</H3>
                <div class="col-6">
                    <img class="w-50 rounded mx-auto d-block" src="/assets/images/anthony-purificato.jpg">
                </div>
                <div class="col-6">
                    <h4>Anthony Purificato</h4>
                    <p>Check Out My Github</p>
                    <a class="userpage-links" href="https://github.com/apurificato"><img class="w-25 align-items-center" src="/assets/images/Github-logo.svg"></a>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>