<main class="hero d-flex flex-row justify-content-center align-items-center background-hero-image">
    <section>
        <div class="container">
                <h1 class="text-center px-5 pt-5 logo-secondary-color display-1">Welcome to The Hive</h1>
                <h2 class="text-center text-light pt-2 display-3">
                    <span class="logo-color">Tech.notes</span> is a Blog Dedicated to Web Development and the Technology Beehind It.
                </h2>
        </div>
    </section>
</main>
<section class="d-flex row justify-content-center align-items-center p-5">
    <h3 class="p-5 text-center">Check Out Recent Posts to See What the Buzz is About:</h3>
    <!-- Render all blog posts -->
    {{#each blogs}}
    <div class="blog-post card text-white bg-dark w-75 px-5 py-3 m-3">
        <h3>{{title}}</h3>
        <p class="py-2">{{content}}</p>
        <p>Posted by: <span class="logo-color">{{this.User.username}}</span></p>
    </div>
    {{/each}}


</section>