<main class="d-flex background-hero-image">
    <section id="main-content" class="row justify-content-center">
        <div class="container">
            <div class="justify-content-center">
                <h1 class="text-center px-5 pt-5 logo-secondary-color">Welcome to The Hive</h1>
                <h2 class="text-center text-light pt-2"><span class="logo-color" >Tech.notes</span> is a Blog Dedicated to Web Development and the Technology Beehind It.</h2>
            </div>
        </div>
     <div>
            <h3 class="p-5 text-light">Check Out Recent Posts to See What the Buzz is About:</h3>
        </div>
    </section>
</main>