/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    min-height: 100vh;
    width: 100%
}
body {
    min-height: 100vh;
    width: 100%;
}

/* html, body {
    min-height: 100vh;
    width: 100%;
} */

/* CUSTOM STYLES */
a.nav-link:hover {
    color: #ffc422;
}

main {
    /* padding: 0 3%; */
    flex: 1;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 15px;
}

main section {
    padding: 15px;
}

/* #main-content {
    width: 75%;
} */

/* .dev-profile-pic {
    width: 50px;
} */
