/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%
}

main {
    min-height: 100%;
}


/* CUSTOM STYLES */
a.nav-link:hover {
    color: #ffc422;
}

#logout-btn {
    margin-left: 20px;
}

main.hero {
    height: 800px;
}

.background-hero-image {
    background-image: url(/assets/images/tech.notes-combs-hero-image.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-color {
    color: #7ed957 ;
}

.logo-secondary-color {
    color: #ffc422;
}


/* RESPONSIVE */

/* About Page */
/* @media screen and (min-width: 768px) {

    .about-info-card-responsive {
        width: 50%;
    }

} */